.App {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 22px;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
}

button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.header-container {
  padding: 10px;
  margin-bottom: 40px;
}

.game-container {
  padding: 10px;
}

.board-container {
  margin-bottom: 20px;
  padding: 10px;
}

.scores-container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #c7c7c766;
  backdrop-filter: blur(5px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-container {
  align-self: stretch;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.board {
  height: 70vw;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .board {
    height: 50vh;
    width: 50vh;
  }
}

.row {
  flex: 1;
  display: flex;
}

.cell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
}

.cell:hover {
  cursor: pointer;
  background-color: #f6f6bab5;
}

.cell.disabled:hover {
  cursor: default;
  background-color: #e1e1e15a;
}

.middle-row {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

.middle-col {
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.score > p {
  font-size: 28px;
}

.score.current {
  font-weight: bold;
  transform: scale(1.1);
}

.modal {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px 40px;
  height: 30vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 20;
}

@media (min-width: 768px) {
  .modal {
    height: 30vh;
    width: 30vw;
  }
}

.modal > p {
  text-align: center;
  line-height: 1.8;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .button-container {
    flex-direction: row;
    gap: 10px;
  }
}

button.another-round {
  background-color: #c7ffc0;
}

button.restart {
  background-color: #ffc0cb;
}

.modal-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}
